body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    max-width: 100%;
}

p{
    line-height: 1.7;
}
.common-button{
    background: #E02C6D;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    display: inline-block;
}

.backdrop{}

.top-part{
    background: #2D25A0;
    padding: 2.5rem 1rem;
;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.bars-icon > .fa-bars{
    font-size: 1.5rem;
}

.login-button__image{
    width: 1.5rem;
    vertical-align: middle;
}

.login-button__text{
    vertical-align: middle;
}

/* Banner section style start */
.banner{
    
}

.banner__info>h1{
    font-size:2.4rem;
    font-weight: 700;
}

.banner__image{
    padding-top: 3rem;
}

/* Players section style start */
.players{
    margin-top: 3rem;
}

.player{
    color: #000;
    margin:2rem 0.7rem;
    padding:1.5rem;
    box-shadow: 3px 3px 5px 5px lightgray;
}

/*Highlighted section style start*/
.highlighted{
    color: #000;
    padding: 1.5rem;
}

.highlighted__image{
    margin-top: 2rem;
}

/* Footer section style start */
.main-footer{
   color: #000;
   padding: 3rem 2rem ;
   text-align: center;
}

.main-footer__social-icons img{
    width: 50px;
    padding: 0 0.3rem;
}

.main-footer__logo img{
    width: 90%;
    padding-bottom: 1.5rem;
}

.main-footer p{
    font-size: 1.3rem;
}